body{
    margin:0;
    padding:0;
     background: url(chuck-norris.jpg) no-repeat fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#header{
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 6px;
}

h2{
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    width:200px;
}
ul{
    list-style-type: none;
}
li{
    background-color: white;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

a{
    text-decoration:none;
    color:black;
    list-style-type: none;
}

li:hover{
    background-color: darkorange;
    color:white;
    list-style-type: none;
}